<div id="navigation" class="flexcol {{cssClass}}" data-tooltip-direction="CENTER" aria-label="{{localize 'SCENES.NavLabel'}}">
    {{#each groups}}
    <nav class="app monks-scene-navigation flexrow {{this.folder.css}}" data-folder-id="{{this.folder._id}}">
        {{#unless folder._id}}
        {{#if ../backButton}}
        <div class="nav-item nav-item-container flexcol">
            <a id="nav-toggle">
                <i class="fas fa-caret-{{#if collapsed}}down{{else}}up{{/if}}"></i>
            </a>
            <a id="nav-back">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>
        {{else}}
        <a id="nav-toggle" class="nav-item">
            <i class="fas fa-caret-{{#if collapsed}}down{{else}}up{{/if}}"></i>
        </a>
        {{/if}}
        {{/unless}}

        <ol class="scene-list" style="border-color: {{this.folder.color}};">
            {{#each this.folder.scenes}}
            {{#if this.directory}}
            {{#if this.visible}}
            <li class="folder nav-item {{this.css}}" data-folder-id="{{this._id}}">
                <a class="scene-name folder-name" style="border-color: {{this.color}};" {{#if @root.isGM}} {{#if this.tooltip}} data-tooltip="{{this.tooltip}}" {{/if}} {{/if}}>
                    <i class="fas {{#if this.navopen}}fa-folder-open{{else}}fa-folder{{/if}}"></i>
                    {{this.name}}
                </a>
                {{#unless this.navopen}}
                <ul class="scene-players flexrow">
                    {{#if this.active}}
                    <li class="active-indicator"><i class="fas fa-bullseye"></i></li>
                    {{/if}}
                    {{#each this.users as |user i|}}
                    <li class="scene-player"><div style="background-color: {{user.color}};">{{user.letter}}</div></li>
                    {{/each}}
                </ul>
                {{/unless}}
            </li>
            {{/if}}
            {{else}}
            <li class="scene nav-item {{this.css}}" data-scene-id="{{this._id}}" {{#if @root.isGM}} {{#if this.tooltip}} data-tooltip="{{this.tooltip}}" {{/if}} {{/if}}>
                <a class="scene-name">
                    {{this.name}}
                </a>
                <ul class="scene-players flexrow">
                    {{#if this.active}}
                    <li class="active-indicator"><i class="fas fa-bullseye"></i></li>
                    {{/if}}
                    {{#each this.users as |user i|}}
                    <li class="scene-player"><div style="background-color: {{user.color}};">{{user.letter}}</div></li>
                    {{/each}}
                </ul>
            </li>
            {{/if}}
            {{/each}}
        </ol>
    </nav>
    {{/each}}
</div>
