<nav class="app monks-scene-navigation flexrow">
    <ol class="scene-list">
        {{#each scenes}}
        {{#if this.directory}}
        <li class="scene nav-item {{this.css}}" data-folder-id="{{this.id}}" style="background-color: {{this.color}};">
            <a class="scene-name folder-name">
                <i class="fas {{#if this.expanded}}fa-folder-open{{else}}fa-folder{{/if}}"></i>
                {{{this.name}}}
            </a>
        </li>
        {{else}}
        <li class="scene nav-item {{this.css}}" data-scene-id="{{this._id}}">
            <a class="scene-name">
                {{#if this.active}}<i class="fas fa-bullseye"></i>{{/if}}
                {{{this.name}}}
            </a>
            <ul class="scene-players">
                {{#each this.users as |user i|}}
                <li class="scene-player" style="background-color: {{user.color}};">{{user.letter}}</li>
                {{/each}}
            </ul>
        </li>
        {{/if}}
        {{/each}}
    </ol>
</nav>